# PhishCLI Operational Configuration
ENV=production
DEBUG=false
LOG_LEVEL=INFO

# Threat Intelligence Credentials (Optional but recommended)
VIRUSTOTAL_API_KEY=cac92775fab9c184875bbf8422fc01e824817a6e282985bd0574b1ae6e5278d3

ABUSEIPDB_API_KEY=8215c3ee23a5ffcd13fa52709737d648a6f1e3eb647b4b489f242f58002acbf1163a513ebaa5e301

# Google OAuth Overrides (Optional if embedded in credentials.json)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=